html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
    height: 100%;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}